body {
    margin: 30px;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* FORMS */

form {
    padding:15px 0;
    width: 100%;
    max-width: 480px;
}

label,
input,
textarea,
select,
button {
    width: 100%;
    display: block;
    clear: both;
}

label {
    font-size: 1em;
}

input,
textarea,
select,
button {
    padding: 0 5px;
    line-height: 30px;
    margin: 5px 0 10px 0;
}



/* HEADER */

header {
    margin: 30px 0;
    padding:15px 0;
    border-bottom: 1px solid #eee;
}

/* SECTION */

section {
    margin: 30px 0;
    padding:15px 0;
}

/* FOOTER */

footer {
    margin: 30px 0;
    padding:15px 0;
    border-top: 1px solid #eee;
}
